# Qualcomm MSM Interface (QMI) socket types
type qmux_audio_socket, file_type;
type qmux_bluetooth_socket, file_type;
type qmux_gps_socket, file_type;
type qmux_radio_socket, file_type;

type proc_net, fs_type;
type proc_sysrq, fs_type;
# /sys/module/lowmemorykiller
type sysfs_lowmemorykiller, fs_type, sysfs_type;

